@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

body {
  --bege: #E6E0D6;
  --marrom-escuro: #816D4F;
  --marrom-claro: #B29463;
  height: 4000px;
}

input[type=checkbox] {
  border: 2px solid var(--marrom-claro);
  box-shadow: none;
}

input[type=checkbox]:checked,
input[type="checkbox"]:focus {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}

.logo-principal {
  display: block;
  position:static;
}

.logo-principal__mobile {
display: none;
position: absolute;
}

.banner-1 {
  background-image: url(./assets/banner-1.png);
}

.banner {
  width: 100%;
  height: 50vw;
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  background-attachment: fixed;
}

.banner-titulo {
  --bs-bg-opacity: .2;
}

.botao-padrao{
  background-color: var(--marrom-claro);
  color: black;
}

.botao-padrao:hover{
  background-color: var(--marrom-escuro);
}

.banner-2 {
  background-image: url(./assets/banner-2.png);
}

.banner-3 {
  background-image: url(./assets/banner-3.png);
}

.nivel-satisfacao__range::-webkit-slider-thumb {
  background-color: var(--marrom-claro);
}

.nivel-satisfacao__range::-webkit-slider-thumb:hover {
  background-color: var(--marrom-escuro);
}

.rodape {
  background-color: var(--marrom-claro);
}

.rodape__contatos-icones {
  color: black;
}

[data-bs-theme="dark"] {
  color: white;
  .nav-link, 
  .card-body,
  .botao-padrao,
  .offcanvas,
  .accordion,
  .rodape__contatos-icones{
    --bs-nav-link-color: white;
    --bs-card-color: white;
    color: white;
    --bs-offcanvas-color: white;
    --bs-body-color: white;
    color: white;
  }
}

@media screen and (max-width:768px) {
  .logo-principal {
    display: none;
    position: absolute;
  }

  .logo-principal__mobile {
    display: block;
    position: static;
  }

  .banner {
    margin-top: 5rem;
  }
}